@model IEnumerable<mainweb.Models.Lesson>
@{
    ViewData["Title"] = "Уроки";
}
@{
    var i = 1;
}
@{
    if (Model.Count() > 1)
    {
        @foreach (var item in Model)
        {
            <p>@*List lessons*@
                @i.
                @{ i++;}
                <a asp-route-id="@item.LessonId">@Html.DisplayFor(modelItem => item.Title)</a>
                <a asp-action="Edit" asp-route-id="@item.LessonId">Редактировать</a>
            </p>

        }
    }
    else
    {
        @*Include the static file*@
        @Html.Raw(File.ReadAllText("wwwroot/lessons/" + Model.First().FilePath))

    }
}


