@model mainweb.Models.LessonsViewModel
@{
    ViewData["Title"] = "Уроки";
}
@{
    var i = 1;
}
@{
    if (Model.Lesson==null)
    {
        @foreach (var item in Model.UngrouppedLessons) //first ungroupped
        {
            <div>
               <a class="col-md-8" asp-route-id="@item.LessonId">@Html.DisplayFor(modelItem => item.Title)</a>
             @if ((bool)ViewData["IsAdmin"])
             {
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.LessonId">Редактировать</a>
             }
             </div>
        }
        @foreach (var g in Model.Groups)
        {
            <h4 class="col-md-12">@g.Title</h4>
            @foreach (var item in g.Lessons)
            {
                <div>
                    <a class="col-md-8" asp-route-id="@item.LessonId">@Html.DisplayFor(modelItem => item.Title)</a>
                    @if ((bool)ViewData["IsAdmin"])
                    {
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.LessonId">Редактировать</a>
                    }
                </div>
            }
        }
        @if ((bool)ViewData["IsAdmin"])
        {
            <hr />
        <p>
            <a asp-action="Create" class="btn btn-default">Добавить урок</a>
            <a asp-action="GroupsList" class="btn btn-default">Группы</a>
        </p>
        }
    }
    else
    {
        @*Include the static file*@
        @Html.Raw(File.ReadAllText("wwwroot/lessons/" + Model.Lesson.FilePath))
    }
}
