@model IEnumerable<mainweb.Models.Excercise>
@{
    ViewData["Title"] = "Упражнения";
}
<table  style="border:hidden">

@{
    var i = 1;
    foreach (var item in Model) {
        <tr>
            <td>
                @i.
                @{ i++;}
                
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="javascript:showExcercise(@item.ExcerciseId)">@item.ExcerciseName</a>
                }
                else
                {   
                    <a asp-route-id="@item.ExcerciseId" asp-action="Details">@Html.DisplayFor(modelItem => item.ExcerciseName)</a>
                }
            </td>
            @if ((bool)ViewData["IsAdmin"])
            {
            <td>
                <a class="btn btn-default col-md-offset-2" asp-action="Edit" asp-route-id="@item.ExcerciseId">Редактировать</a>
            </td>
            }
        </tr>
    }
}
</table>
@if ((bool)ViewData["IsAdmin"])
{
    <p>
    <a asp-action="Create" class="btn btn-default">Добавить урок</a>
    </p>
}
